/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.navbar-default .navbar-nav > li > a {
	color: black;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #55c755;
}

#promo-indicators {
	padding-top: 50px;
	position: relative;
}

#promo-indicators .carousel-indicators li {
	background-color: black;
}









